<!--The content below is only a placeholder and can be replaced.-->

<div class="body">
  <div class="header">
      <div class="header-nav">
          <a routerLink="/dashbord" class="active nav-link nav-text">Dashboard</a>
          <!-- <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a> -->
      </div>
      <div class="header-actions">
          <a class="nav-link nav-icon">
              <clr-icon shape="cog"></clr-icon>
          </a>
      </div>
  </div>
      
  <div class="main">
    <div class="navigation">
    </div>  

    <div class="centre">
      <router-outlet></router-outlet>
    </div>  
  </div>
      
  <div class="footer"></div>
</div>
