 <div routerLink="/tempDetail" class="card clickable">
  <div class="card-header">
      Temperature
  </div>
  <div class="card-block">
      <div class="card-text">
          {{temperature$ | async}}°C
      </div>
  </div>
</div>
<div routerLink="/annuaire" class="card clickable">
    <div class="card-header">
        Annuaire
    </div>
    <div class="card-block">
        <div class="card-text">
            Toutes les informations et numeros de telephones dont la maison a besoin
        </div>
    </div>
  </div>
